In [406]:
import pandas as pd

In [407]:
data = pd.read_csv("dataset_clean.csv")

In [408]:
data = data.set_index("Happiness Rank")

In [409]:
data

,Country,Region,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,ISO,Income,Precipitations/month (mm),Temperatures (ºC)
Happiness Rank,,,,,,,,,,,,,,
1,Switzerland,Western Europe,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,CHE,HIC,125.06,6.75
2,Iceland,Western Europe,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,ISL,HIC,85.70,2.78
3,Denmark,Western Europe,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,DNK,HIC,60.23,8.57
4,Norway,Western Europe,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,NOR,HIC,85.28,1.55
5,Canada,North America,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,CAN,HIC,38.62,-6.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Rwanda,Sub-Saharan Africa,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,RWA,LIC,101.73,19.84
155,Benin,Sub-Saharan Africa,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,BEN,LIC,91.40,28.06
156,Syria,Middle East and Northern Africa,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,SYR,LIC,23.60,18.91
157,Burundi,Sub-Saharan Africa,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,BDI,LIC,102.86,21.38
158,Togo,Sub-Saharan Africa,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,TGO,LIC,102.01,27.55

In [435]:
""" Como la de abajo, pero le he quitado los datos de valor max y min y le he añadido el happiness score
def getRegion(region):
    data_region = data[data["Region"] == region]
    result = pd.DataFrame([[getMin(data_region).index.values[0],
                        data_region["Country"][data_region["Country"].index == data_region.index.min()].values[0],
                        getValueMax(getMin(data_region))[0],getValueMax(getMin(data_region))[1],
                        getValueMin(getMin(data_region))[0],getValueMin(getMin(data_region))[1]],
                       [getMax(data_region).index.values[0],
                        data_region["Country"][data_region["Country"].index == data_region.index.max()].values[0],
                        getValueMax(getMax(data_region))[0],getValueMax(getMax(data_region))[1],
                        getValueMin(getMax(data_region))[0],getValueMin(getMax(data_region))[1]]],
                      columns = ["Happiness Rank","Country","maximo","valor maximo","minimo","valor minimo"])
    result = result.set_index(keys="Happiness Rank")
    return result
"""    
def getRegion(region):
    data_region = data[data["Region"] == region]
    result = pd.DataFrame([[getMin(data_region).index.values[0],
                        data_region["Country"][data_region["Country"].index == data_region.index.min()].values[0],
                            data_region["Happiness Score"][data_region["Country"]==data_region["Country"][data_region["Country"].index == data_region.index.min()].values[0]].values[0],
                        getValueMax(getMin(data_region))[0],getValueMin(getMin(data_region))[0]],
                       [getMax(data_region).index.values[0],
                        data_region["Country"][data_region["Country"].index == data_region.index.max()].values[0],
                        data_region["Happiness Score"][data_region["Country"]==data_region["Country"][data_region["Country"].index == data_region.index.max()].values[0]].values[0],
                        getValueMax(getMax(data_region))[0],getValueMin(getMax(data_region))[0]]],
                      columns = ["Happiness Rank","Country","Happiness Score","maximo","minimo"])
    result = result.set_index(keys="Happiness Rank")
    return result

def getMax(data_region):
    max_country=data_region[data_region.index == data_region.index.max()].drop(columns=['Happiness Score', 'Standard Error','Precipitations/month (mm)', 'Temperatures (ºC)'])
    return max_country

def getMin(data_region):
    min_country=data_region[data_region.index == data_region.index.min()].drop(columns=['Happiness Score', 'Standard Error','Precipitations/month (mm)', 'Temperatures (ºC)'])
    return min_country

def getValueMax(country):
    for e in country:
        if country[e].equals(country.max(axis=1,numeric_only=True)):
            col = e
            col_value = country[e].values[0]
    return [col,col_value]
    
def getValueMin(country):
    for e in country:
        if country[e].equals(country.min(axis=1,numeric_only=True)):
            col = e
            col_value = country[e].values[0]
    return [col,col_value]
    
getRegion("Sub-Saharan Africa")

,Country,Happiness Score,maximo,minimo
Happiness Rank,,,,
71,Mauritius,5.477,Economy (GDP per Capita),Trust (Government Corruption)
158,Togo,2.839,Freedom,Trust (Government Corruption)

In [453]:
statistic = data[data["Region"]=="Sub-Saharan Africa"].describe()

In [452]:
data_SSA.groupby(["Region","Income"]).agg({"Country":"count","Happiness Score":["max","mean","min"],
                                           "Precipitations/month (mm)":["max","mean","min"],
                                           "Temperatures (ºC)":["max","mean","min"]})

                          Country Happiness Score                  \
                            count             max     mean    min
Region             Income
Sub-Saharan Africa LIC         20           5.057  3.93985  2.839
                   LMC         16           5.268  4.43550  3.655
                   UMC          4           5.477  4.58675  3.896

                          Precipitations/month (mm)                  \
                                                max     mean    min
Region             Income
Sub-Saharan Africa LIC                       212.19  95.3835  17.41
                   LMC                       135.46  78.8900  10.39
                   UMC                       158.22  89.8075  35.45

                          Temperatures (ºC)
                                        max      mean    min
Region             Income
Sub-Saharan Africa LIC                29.04  25.36050  19.84
                   LMC                28.67  24.83625  13.63
                   UMC                25.19  22.61750  18.73

In [458]:
st_reduce = statistic[["Economy (GDP per Capita)","Family","Health (Life Expectancy)","Freedom","Trust (Government Corruption)","Generosity"]]

In [463]:
st_reduce

,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,0.380473,0.809085,0.282332,0.365944,0.123878,0.221137
std,0.282264,0.267819,0.145906,0.120693,0.096941,0.080912
min,0.000000,0.000000,0.000000,0.100810,0.030600,0.068220
25%,0.203863,0.676657,0.165140,0.301262,0.072307,0.182598
50%,0.308445,0.878375,0.298155,0.382910,0.103875,0.207305
75%,0.483052,1.001570,0.372122,0.462010,0.132890,0.243343
max,1.060240,1.184680,0.709500,0.592010,0.551910,0.503180

In [471]:
st_reduce[st_reduce.index == "mean"].values.max()
st_reduce[st_reduce.index == "mean"].values.min()

0.12387775000000001

In [473]:
statistic2 = data_SSA.drop(columns=["Happiness Score","Standard Error","Precipitations/month (mm)","Temperatures (ºC)"]).describe()
statistic2

,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,0.380473,0.809085,0.282332,0.365944,0.123878,0.221137
std,0.282264,0.267819,0.145906,0.120693,0.096941,0.080912
min,0.000000,0.000000,0.000000,0.100810,0.030600,0.068220
25%,0.203863,0.676657,0.165140,0.301262,0.072307,0.182598
50%,0.308445,0.878375,0.298155,0.382910,0.103875,0.207305
75%,0.483052,1.001570,0.372122,0.462010,0.132890,0.243343
max,1.060240,1.184680,0.709500,0.592010,0.551910,0.503180

In [ ]:
def getGroup(region):
    data_group = data[data["Region"] == region]
    statistic_table = data_group.drop(columns=["Happiness Score","Standard Error",
                                               "Precipitations/month (mm)","Temperatures (ºC)"]).describe()
    max_support = statistic_table[statistic_table.index == "mean"].values.max()
    min_support = statistic_table[statistic_table.index == "mean"].values.min()
    max_column = statistic_table.columns[statistic_table[statistic_table==max_support].any()][0]
    min_column = statistic_table.columns[statistic_table[statistic_table==min_support].any()][0]
    data_group.groupby(["Region","Income"]).agg({"Country":"count","Happiness Score":["max","mean","min"],
                                           "Precipitations/month (mm)":["max","mean","min"],
                                           "Temperatures (ºC)":["max","mean","min"]})

In [475]:
statistic_table = data_SSA.drop(columns=["Happiness Score","Standard Error",
                                               "Precipitations/month (mm)","Temperatures (ºC)"]).describe()

In [573]:
"""
data_reg = data_SSA.drop(columns=["Happiness Score","Standard Error",
                                               "Precipitations/month (mm)","Temperatures (ºC)"])
"""
data_total = pd.read_csv("dataset_clean.csv")
data_SSA = data_total[data_total["Region"]=="Sub-Saharan Africa"] 
data_reg = data_SSA.groupby(["Region","Income"]).agg({"Country":"count","Happiness Score":["min","max"],"Happiness Rank":["min","max"],
                                                      "Economy (GDP per Capita)":"max","Family":"max",
                                                      "Health (Life Expectancy)":"max","Freedom":"max",
                                                      "Trust (Government Corruption)":"max","Generosity":"max",
                                                       "Precipitations/month (mm)":"max","Temperatures (ºC)":"max"})

In [574]:
data_reg

                          Country Happiness Score        Happiness Rank       \
                            count             min    max            min  max
Region             Income
Sub-Saharan Africa LIC         20           2.839  5.057             91  158
                   LMC         16           3.655  5.268             78  151
                   UMC          4           3.896  5.477             71  143

                          Economy (GDP per Capita)   Family  \
                                               max      max
Region             Income
Sub-Saharan Africa LIC                     0.34193  1.13299
                   LMC                     0.75778  1.07284
                   UMC                     1.06024  1.18468

                          Health (Life Expectancy)  Freedom  \
                                               max      max
Region             Income
Sub-Saharan Africa LIC                     0.46721  0.59201
                   LMC                     0.43540  0.49309
                   UMC                     0.70950  0.56066

                          Trust (Government Corruption) Generosity  \
                                                    max        max
Region             Income
Sub-Saharan Africa LIC                          0.55191    0.50318
                   LMC                          0.28105    0.37542
                   UMC                          0.12474    0.37744

                          Precipitations/month (mm) Temperatures (ºC)
                                                max               max
Region             Income
Sub-Saharan Africa LIC                       212.19             29.04
                   LMC                       135.46             28.67
                   UMC                       158.22             25.19